.page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: var(--space-12);

  background-color: var(--bg-page);
  background-image:
    linear-gradient(
      to right,
      var(--bg-grid-line) var(--border-width-sm),
      transparent var(--border-width-sm)
    ),
    linear-gradient(
      to bottom,
      var(--bg-grid-line) var(--border-width-sm),
      transparent var(--border-width-sm)
    );
  background-size: var(--space-24) var(--space-24);
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: var(--space-12);
}
